target/
out/
dependency-reduced-pom.xml
.idea/
*.iml
dist/
elasticsearch/
elasticsearch.yaml
backups/
index/
plugins/
extensions/
logs/
/app
pom.xml.versionsBackup
.gitsecret/keys/random_seed
datashare-web/src/main/resources/secret.properties
# VS Code
.project
.settings
.classpath
doc/
work
*.swp
# Devenv Properties File
datashare-devenv.properties
