*.dat filter=lfs diff=lfs merge=lfs -text

./datashare-web/datashare-web-play/libexec/*.jar
./datashare-nlp/datashare-nlp-ixapipe/lib/*.jar
./datashare-nlp/datashare-nlp-gate/lib/*.jar

*.traineddata filter=lfs diff=lfs merge=lfs -text
