amqpUri=amqp://guest:guest@amqp
elasticsearchUri=http://elasticsearch:9200
postgresUri=jdbc:postgresql://postgres/dstest?user=dstest&password=test
redisUri=redis://redis:6379
s3mockUri=http://s3mock:9090
