amqpUri=amqp://guest:guest@localhost:5673
elasticsearchUri=http://localhost:9200
postgresUri=jdbc:postgresql://localhost/dstest?user=dstest&password=test
redisUri=redis://localhost:6379
s3mockUri=http://localhost:9090
