services:
    workspace:
        build:
          context: .
          dockerfile: Dockerfile
        hostname: workspace
        security_opt:
          - seccomp:unconfined
        ports:
          - 8080:8080
          - 8090:8090
          - 9009:9009
        environment:
          PGPASSWORD: test
          HOME: /home/dev
          MAVEN_OPTS: "-Dgpg.skip=true"
        user: 'dev'
        command: sleep infinity
        volumes:
          # Mounts the project folder to '/workspace'. The target path inside the container
          # should match what your application expects. In this case, the compose file is
          # in a sub-folder, so you will mount '..'. You would then reference this path as the
          # 'workspaceFolder' in '.devcontainer/devcontainer.json' so VS Code starts here.
          - ..:/home/dev/workspace/datashare:cached

    amqp:
      image: cloudamqp/lavinmq
      ports:
        - 5673:5672
        - 15673:15672

    s3mock:
      image: adobe/s3mock:latest
      ports:
        - 9090:9090
      deploy:
        resources:
          limits:
            memory: 512M
          reservations:
            memory: 64M

    redis:
        image: redis:7.0-alpine
        ports:
          - 6379:6379
        volumes:
          - redis_data:/data

    postgres:
      image: pgvector/pgvector:pg15
      environment:
        POSTGRES_USER: dstest
        POSTGRES_PASSWORD: test
        POSTGRES_DB: dstest
      volumes:
        - postgresql_data:/var/lib/postgresql/data
        - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
      ports:
        - 5432:5432

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.7
        environment:
          - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
          - discovery.type=single-node
          - cluster.name=datashare
          - cluster.routing.allocation.disk.watermark.low=90%
          - cluster.routing.allocation.disk.watermark.high=99%
          - cluster.routing.allocation.disk.watermark.flood_stage=100%
          - http.compression=false
          - http.cors.enabled=true
          - http.cors.allow-origin="*"
          - http.cors.allow-methods=OPTIONS, HEAD, GET, POST, PUT, DELETE
          - indices.query.bool.max_clause_count=20000
        ports:
          - 9200:9200

volumes:
  postgresql_data:
    driver: local
  redis_data:
    driver: local
