services:
    workspace:
        build:
          context: .
          dockerfile: Dockerfile
        hostname: workspace
        security_opt:
          - seccomp:unconfined
        ports:
          - 4000:4000
          - 5555:5555
          - 6006:6006
          - 8008:8008
          - 8443:8443
          - 8888:8080
          - 9009:9009
        environment:
          PGPASSWORD: admin
          HOME: /home/dev
          MAVEN_OPTS: "-Dgpg.skip=true"
        command: sleep infinity

    amqp:
      image: cloudamqp/lavinmq
      ports:
        - 15672:15672

    s3mock:
      image: adobe/s3mock:latest
      deploy:
        resources:
          limits:
            memory: 512M
          reservations:
            memory: 64M

    redis:
        image: redis:7.0-alpine
        ports:
          - 9736:6379
        volumes:
          - redis_data:/data

    postgres:
      image: pgvector/pgvector:pg15
      environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
      volumes:
        - postgresql_data:/var/lib/postgresql/data
      ports:
        - 5432:5432

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.7
        environment:
          - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
          - discovery.type=single-node
          - cluster.name=datashare
          - cluster.routing.allocation.disk.watermark.low=90%
          - cluster.routing.allocation.disk.watermark.high=99%
          - cluster.routing.allocation.disk.watermark.flood_stage=100%
          - http.compression=false
          - http.cors.enabled=true
          - http.cors.allow-origin="*"
          - http.cors.allow-methods=OPTIONS, HEAD, GET, POST, PUT, DELETE
          - indices.query.bool.max_clause_count=20000
        ports:
          - 9200:9200

volumes:
  postgresql_data:
    driver: local
  redis_data:
    driver: local
