kestra:
  queue:
    type: h2
  repository:
    type: h2
  storage:
    type: local
    local:
      base-path: ~/.datashare/kestra-storage
datasources:
  h2:
    url: jdbc:h2:file:~/.datashare/kestra-db;TIME ZONE=UTC;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;LOCK_TIMEOUT=30000
    username: sa
    password: ""
    driver-class-name: org.h2.Driver