<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>production</contextName>
    <appender name="gelf" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
        <host>${datashare.loghost}</host>
        <port>5140</port>
        <version>1.0</version>
        <facility>local7</facility>
        <additionalFields>application=datashare</additionalFields>
        <extractStackTrace>true</extractStackTrace>
        <filterStackTrace>true</filterStackTrace>
        <includeLocation>true</includeLocation>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="gelf" />
    </root>
</configuration>
